body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 480px;
  margin: auto;
  padding: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c62828;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
}

header h2 {
  font-size: 18px;
}

button {
  background-color: #c62828;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #a81e1e;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #f3f3f3;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.oculto {
  display: none;
}

#historico {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

#listaHistorico div {
  background-color: #f8f8f8;
  margin: 8px 0;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
