<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Coletas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Controle de Coletas</h1>
        <button id="btnRegistros" onclick="window.location.href='/registros'">📜 Registros</button>
    </header>

    <main>
        <div class="form-container">
            <select id="motorista">
                <option value="">Selecione o Motorista</option>
                <option>Adryen</option>
                <option>Uelber</option>
                <option>Luiz Carlos</option>
                <option>Luis Gerson</option>
                <option>Priscila</option>
                <option>Dayveson</option>
                <option>Silenildo</option>
                <option>Dalvan</option>
                <option>Marcio</option>
            </select>

            <input type="text" id="loja" placeholder="Loja">
            <input type="text" id="pedido" placeholder="Pedido" maxlength="12">
            <button id="addBtn" onclick="adicionarPedido()">Adicionar</button>

            <p id="contador">Pedidos: 0</p>
            <button id="enviarBtn" onclick="enviar()">Enviar para o sistema</button>

            <ul id="listaPedidos"></ul>
        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
